---
#- name: Enable matrix copr repo
#  community.general.copr:
#    name: aem/matrix

- name: Install RPM packages
  dnf:
     name:
     - krb5-workstation
     - fasjson-client
     - vim
     - git
     - python3-pip
     - python-httpx
     - fedora-messaging
     - python-slugify
     - sqlite
     state: present

- name: creating maubot log dirs
  file: path={{ item }} state=directory owner=vagrant group=vagrant
  with_items:
  - /var/lib/maubot
  - /var/lib/maubot/plugins
  - /var/lib/maubot/trash
  - /var/lib/maubot/logs
  - /var/lib/maubot/crypto


- name: create .config dir (mbc expects this to exist)
  file: path={{ item }} state=directory owner=vagrant group=vagrant
  with_items:
  - /home/vagrant/.config/


- name: Install maubot python package
  pip:
    name: 
      - maubot[encryption]
      - meetbot-messages
      - maubot-fedora-messages
      - httpx_gssapi
      - arrow


- name: copy maubot config
  template:
    src: config.yaml
    dest: /var/lib/maubot
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Install the .bashrc
  copy:
    src: bashrc
    dest: /home/vagrant/.bashrc
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Install the systemd unit files for the maubot service
  copy:
      src: maubot.service
      dest: /etc/systemd/system/maubot.service
      mode: 0644

- name: Start maubot service using systemd
  systemd:
    state: started
    name: maubot
    daemon_reload: yes
    enabled: yes

- name: Wait for service 'maubot.service' to be running
  service_facts:
  register: result
  until: result.ansible_facts.services['maubot.service'].state == 'running'
  retries: 10
  delay: 5

- name: log into the maubot instance with mbc login
  command: mbc login --username admin --password mypassword --server http://{{ ansible_fqdn }}:29316 --alias maubot
  args:
    creates: /home/vagrant/.config/maubot-cli.json
  become: True
  become_user: vagrant

- name: get maubot-fedora
  git:
    repo: https://github.com/fedora-infra/maubot-fedora.git
    dest: /home/vagrant/_maubot-fedora
  become: True
  become_user: vagrant

- name: build and install the fedora plugin to maubot
  command: mbc build -u
  become: True
  become_user: vagrant
  args:
    chdir: /home/vagrant/_maubot-fedora

- name: get maubot-meetings
  git:
    repo: https://github.com/GregSutcliffe/maubot-meetings.git
    dest: /home/vagrant/_maubot-meetings
  become: True
  become_user: vagrant

- name: build and install the meetings plugin to maubot
  command: mbc build -u
  become: True
  become_user: vagrant
  args:
    chdir: /home/vagrant/_maubot-meetings

- name: add zodbot user from synapse as a client
  command: mbc auth -c --homeserver matrixbots.tinystage.test --username zodbot --password password
  become: True
  become_user: vagrant

- name: add meetbot user from synapse as a client
  command: mbc auth -c --homeserver matrixbots.tinystage.test --username meetbot --password password
  become: True
  become_user: vagrant

- name: stuff auth token into a variable
  shell: 
    cmd: cat /home/vagrant/.config/maubot-cli.json | jq -r '.servers."http://matrixbots.tinystage.test:29316"'
  become: True
  become_user: vagrant
  register: auth_token

- name: copy config file for fedora plugin
  copy:
      src: zodbot-instance.json
      dest: /var/tmp/zodbot-instance.json

- name: create zodbot instance of fedora plugin
  command: curl -v -X PUT http://matrixbots.tinystage.test:29316/_matrix/maubot/v1/instance/zodbot?access_token={{auth_token.stdout}} -d @/var/tmp/zodbot-instance.json
  become: True
  become_user: vagrant

- name: copy config file for meetbot plugin
  copy:
      src: meetbot-instance.json
      dest: /var/tmp/meetbot-instance.json

- name: create meetbot instance of meetings plugin
  command: curl -v -X PUT http://matrixbots.tinystage.test:29316/_matrix/maubot/v1/instance/meetbot?access_token={{auth_token.stdout}} -d @/var/tmp/meetbot-instance.json
  become: True
  become_user: vagrant


  
