[Unit]
Description=mote
After=network-online.target
Wants=network-online.target

[Service]
Environment=FLASK_CACHE_TYPE=RedisCache
Environment=FLASK_CACHE_REDIS_URL=redis://localhost:6379
Envrionment=FLASK_CACHE_DEFAULT_TIMEOUT=1800
Environment=FLASK_MEETBOT_RAW_URL="http://matrixbots.tinystage.test:8009"
Environment=FLASK_MEETBOT_URL="http://matrixbots.tinystage.test:9696"
User=vagrant
WorkingDirectory=/home/vagrant/mote
ExecStart=poetry run gunicorn --bind 0.0.0.0:9696 -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -w1 mote.main:main

[Install]
WantedBy=multi-user.target
